@import 'variables';

body {
  font-family: $text-font;
}

h1 {
  font-weight: 600;
  color: $main-color;
  @media (max-width: 1180px) {
    word-break: break-word;
    font-size: 2rem;
  }
}

h2 {
  font-weight: 600;
  color: $main-color;
  @media (max-width: 1180px) {
    word-break: break-word;
    font-size: 1.5rem;
  }
}

h3 {
  font-weight: 500;
}

.navbar {
  padding: 0;
  background: $white;
  border-bottom: 1px solid $main-grey;
  box-shadow: 0 1px $light-grey;
}

.nav-item {
  margin-left: 1rem;
  font-weight: 600;
  a.nav-link.active {
    color: $main-color !important;
    font-weight: 800 !important;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $black !important;
}

ul.navbar-nav.ml-auto {
  text-align: center;
}

.site-logo {
  height: 7rem;
  @media (max-width: 1180px) {
    height: 5.3rem;
  }
}

.site-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7rem;
  @media (max-width: 1180px) {
    margin-top: 5.3rem;
  }
  padding: 2rem 0;
  min-height: 16rem;
  background-image: url('../img/banner-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  h1 .header1 {
    color: $main-color;
  }
  h2 {
    color: $black;
  }
}

.site-container {
  padding-top: 2rem;
}

.btn-custom {
  color: $white;
  background-color: $main-color;
  padding: 0.5rem 4rem;
  &:hover {
    color: $white;
    background-color: $main-color-light;
  }
}
