@import 'variables';

body {
  font-family: $text-font;
}

h1 {
  font-weight: 600;
  color: $main-color;
  @media (max-width: 1180px) {
    word-break: break-word;
    font-size: 2rem;
  }
}

h2 {
  font-weight: 600;
  color: $main-color;
  @media (max-width: 1180px) {
    word-break: break-word;
    font-size: 1.5rem;
  }
}

h3 {
  font-weight: 500;
}

.colored-main {
  color: $main-color;
}

.background-color-main {
  background-color: $main-color;
}

.hidden {
  display: none;
}

.contact-persons {
  display: flex;
  @media (max-width: 1199px) {
    flex-direction: column;
  }
  @media (min-width: 1200px) {
    flex-direction: row;
  }
  .contact-info-box {
    padding-top: 0.3rem;
    p {
      margin-bottom: 0.3rem;
    }
  }
}

.navbar {
  padding: 0;
  background: $white;
  border-bottom: 1px solid $main-grey;
  box-shadow: 0 1px $light-grey;
}

.nav-item {
  margin-left: 1rem;
  font-weight: 600;
  a.nav-link.active {
    color: $main-color !important;
    font-weight: 800 !important;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $black !important;
}

ul.navbar-nav.ml-auto {
  text-align: center;
}

.site-logo {
  height: 7rem;
  @media (max-width: 1180px) {
    height: 5.3rem;
  }
}

.site-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7rem;
  @media (max-width: 1180px) {
    margin-top: 5.3rem;
  }
  padding: 2rem 0;
  min-height: 16rem;
  background-image: url('../img/banner-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    color: $black;
    .header1 {
      color: $main-color;
    }
  }
  h2 {
    color: $black;
  }
}

.site-container {
  padding-top: 2rem;
}

.btn-custom {
  color: $white;
  background-color: $main-color;
  width: 100%;
  padding: 0.5rem 1.5rem;
  &:hover {
    color: $white;
    background-color: $main-color-light;
  }
}

.apply-btn {
  color: $main-color;
  background-color: $medium-grey;
}

.team-member {
  margin-bottom: 3rem;
  text-align: center;
  padding: 0.5rem;
  img {
    margin-top: 0.5rem;
      width: 225px;
      height: 225px;
      border: 7px solid $grey-blue;
      object-fit: cover;
  }
  &:hover {
    cursor: pointer;
    background-color: $light-grey;
  }
}

.person-modal {
  max-width: 1120px;
  @media (max-width: 1120px) {
    max-width: 960px;
  }
  @media (max-width: 960px) {
    max-width: 720px;
  }
  @media (max-width: 720px) {
    max-width: 640px;
  }
  .modal-content {
    .modal-header {
      border: 0;
    }
    .modal-body {
      margin-bottom: 1.5rem;
      .row {
        flex-direction: row;
        .modal-image {
          text-align: center;
        }
        @media (max-width: 960px) {
          flex-direction: column;
          align-items: center;
          .modal-image {
            width: 80% !important;
            text-align: center;
            padding-bottom: 1.5rem;
          }
        }
      }
      img {
        object-fit: cover;
        width: 90%;
      }
    }
  }
}

.compulsory {
  background-color: $grey-blue;
}
.elective {
  background-color: $light-grey;
}
.t-head {
  background-color: $main-color;
  color: $white;
}
.t-subhead {
  background-color: $main-color-lighter;
  color: $main-color;
}
td {
  margin: 0.25rem;
}
a.table-link {
  color: $black;
  &:hover {
    color: $main-color;
    font-weight: 500;
  }
}
.table-legend {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-right: 0.5rem;
  border: 1px solid black;
}
// This is used to be able to scroll at the correct point without navbar messing with the view
.subject-block {
  padding-top: 113px;
  margin-top: -113px;
  @media (max-width: 991px) {
    padding-top: 85px;
    margin-top: -85px;
  }
  margin-bottom: 1.5rem;
}

a.map-section {
  width: fit-content;
}

.custom-footer {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.custom-information-box .row {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  background-color: $main-color-lighter;
  text-align: center;
  padding: 0.5rem;
  @media(max-width: 991px) {
    flex-direction: column;
    .information-box-component {
      border-left: none !important;
      border-top: 2px dotted $main-color;
      &:first-child {
        border-top: none;
      }
    }
  }
  .information-box-component {
    font-size: 0.85rem;
    border-left: 2px dotted $main-color;
    &:first-child {
      border-left: none;
    }
    label.title {
      display: inline-flex;
      align-items: center;
      min-height: 3rem;
      color: $main-color;
      font-weight: bold;
    }
  }
}

.stuff {
  border-right: 1px dotted $main-color;
  overflow: auto;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $light-grey;
  padding: 2rem 0.5rem;
}
