// variables
// Customise bootstrap here, and set site-wide variables. Refer to
// https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss
// for things to override.

// Website palette
$main-color: #a01636;
$main-color-light: #C02F51;
$main-color-lighter: #e9e2e2;
$main-grey: #ebe7e7;
$grey-blue: #cfdedb;
$light-grey: #f0f1f1;
$medium-grey: #d7d7d7;
$black: #000000;
$white: #FFFFFF;

// Typography
$text-font: 'Montserrat';

// Set the primarys colour to green.
$green: #28a745 !default;
$primary: $main-color-light !default;
