<nav class="navbar navbar-expand-lg navbar-light fixed-top justify-content-between px-4">
    <style>
        .nav-item.dropdown:hover .dropdown-menu {
            display: block;
            outline: none;
        }
    </style>
    <a class="navbar-brand font-weight-bold p-0" href="{{ site.baseurl }}{% link _pages/index.md %}">
      <img src="{{ site.baseurl }}/theme/img/logos/TEAM-logo-minimal.svg" title="TEAM logo" alt="TEAM logo" class="site-logo">
    </a>
    <a class="navbar-brand font-weight-bold p-0" href="https://www.ntua.gr">
      <img src="{{ site.baseurl }}/theme/img/logos/NTUA-logo.svg" title="NTUA logo" alt="NTUA logo" class="site-logo ntua-logo py-3 ml-3">
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarContent" >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ml-auto">
        {% for item in site.data.nav %}
            {% if item.subpages %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ item.title }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for subpage in item.subpages %}
                            <a class="dropdown-item" href="{{ site.baseurl }}{{ subpage.href }}">{{ subpage.title }}</a>
                        {% endfor %}
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a
                      href='{% if item.href contains ":" %}{% else %}{{ site.baseurl }}{% endif %}{{ item.href }}'
                      class='{% if page.url == item.href %}nav-link active{% else %}nav-link{% endif %}'
                    >
                        {{ item.title }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</nav>
